.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.informationBox {
  flex: 1;
  overflow: scroll;
}

.codeInput {
  border: 1px solid rgb(177, 174, 174);
  margin: 20rpx;
  padding: 20rpx;
  font-size: 50rpx;
  height: 80rpx;
}

.searchBtn {
  margin-bottom: 20rpx;
  width: 60%;
}

.informationBox {
  margin: 20rpx 15% 20rpx 20%;
  overflow: scroll;
}

.informationItem {
  position: relative;
  display: block;
  // border-left: 10rpx solid black;
  padding-bottom: 10rpx;
  font-size: 32rpx;
  padding-left: 60rpx;
}
.specialText {
  color: #f88d45;
}
.timelineIcon {
  position: absolute;
  left: 2px;
  top: 3px
}
.timelineTail {
  position: absolute;
  top: 40px;
  bottom: -5px;
  left: 22px;
  border-left: 2px solid #e2ecf4;
}
.timeText {
  padding-top: 10rpx;
  font-size: 26rpx;
  color: #7e7e7e;
}
